@import "tailwindcss";

h1 {
  @apply text-4xl font-bold text-black;
}

h2 {
  @apply text-3xl font-semibold;
}

.navbar-link {
  @apply transform rounded-md p-2 transition hover:bg-[#C61212] hover:text-white;
}
