@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-inter);
}

h1 {
  @apply font-['bodoni-moda'] text-4xl font-bold text-black;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

.navbar-link {
  @apply transform rounded-md p-2 transition hover:bg-[#C61212] hover:text-white hover:opacity-100;
}

li a {
  @apply underline decoration-1 hover:opacity-80;
}
